<div class="container">
    <h1>Auto crop using AI</h1>
    <img [src]="url" height="200" /> <br />
    <p></p>
    <form [formGroup]="form" (ngSubmit)="uploadFile()" > 
    <input type="file" (change)="onFileChange($event)" formControlName="image" />
    <br />
    <p></p>
    <button class="btn btn-primary submit-btn" [disabled]="!form.valid" type="submit">Crop objects</button>
    </form>

    <div *ngIf="loading">

      <li *ngFor="let crop of CropedImgs; index as i;">
        {{crop.label}}
       <img *ngFor=" let url of crop.urls; index as j;" src={{url}}>
        
      </li>

    </div>

  </div>