<mat-grid-list cols="4" rowHeight="50px">
<mat-grid-tile [colspan]="4" [rowspan]="1" class="title">
  <h1>Manual crop</h1>
</mat-grid-tile>
<form [formGroup]="form" (ngSubmit)="uploadFile()">
  <mat-grid-tile [colspan]="4" [rowspan]="2">
  <input type="file" (change)="onFileChange($event)" formControlName="image" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="8">
    <image-cropper
      class="cropper"
      [imageChangedEvent]="imgChangedEvent"
      [maintainAspectRatio]="false"
      [onlyScaleDown]="true"
      [resizeToWidth]="512"
      format="png"
      (imageCropped)="cropImg($event)"
      (imageLoaded)="imgLoad()"
      (cropperReady)="initCropper()"
      (loadImageFailed)="loadImageFailed()"
    >
    </image-cropper>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="8">
    <div *ngIf="cropImagePreview">

 <img [src]="cropImagePreview"/>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="1">
  <button class="btn btn-primary submit-btn" [disabled]="!form.valid" type="submit">
    upscale
  </button>
</mat-grid-tile>
</form>
</mat-grid-list>