<h1>Image upload</h1>
<img [src]="url" height="200" />
<form [formGroup]="form" (ngSubmit)="uploadFile()">
  <input type="file" (change)="onFileChange($event)" formControlName="image" />
  <div class="image-container" >
    <image-cropper
      class="cropper"
      [imageChangedEvent]="imgChangedEvent"
      [maintainAspectRatio]="false"
      [onlyScaleDown]="true"
      [resizeToWidth]="512"
      format="png"
      (imageCropped)="cropImg($event)"
      (imageLoaded)="imgLoad()"
      (cropperReady)="initCropper()"
      (loadImageFailed)="loadImageFailed()"
    >
    </image-cropper>
    
    <div class="preview" >
      <h4>Preview</h4>
      <img [src]="cropImagePreview" />
    </div>
  </div>


  <button class="btn btn-primary submit-btn" [disabled]="!form.valid" type="submit">
    upscale
  </button>
</form>

